* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding-bottom: 20px;
}

body {
  background-color: whitesmoke;
}

.dark {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  font-size: 2em;
  padding: 10px 20px;
  z-index: 2;
  border: none;
  cursor: pointer;
}

.dark:focus {
  outline: none;
}

.add__btn {
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 800;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.add__btn svg {
  color: black;
}
