.places {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.places img {
  width: 280px;
  height: 250px;
  padding: 5px;
}

.places p {
  font-size: 20px;
  font-weight: 700;
}

.places__main {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5), -4px -4px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.places__main button {
  position: absolute;
  top: 10px;
  left: 5px;
  cursor: pointer;
}

.places__main button svg {
  font-weight: 900;
  font-size: 30px;
  color: rgb(168, 3, 3);
}

button:focus,
button:active {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

button svg {
  color: #a0b6ac;
}

.map {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 2em;
}

.mst {
  padding: 10px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6),
    -2px -2px 2px rgba(255, 255, 255, 0.6);
  position: relative;
}

.mst h2 {
  line-height: 60px;
  text-align: center;
}

.mst h3 {
  line-height: 35px;
  font-size: 1.8em;
  text-align: center;
}

.mst__div {
  margin: 10px 0px;
  font-size: 18px;
  text-align: center;
}

input[type="number"] {
  padding: 10px;
  font-size: 15px;
}

.add__btn {
  margin: 20px;
  z-index: 2;
}

@media (max-width: 500px) {
  .mst {
    text-align: left;
  }
}
